@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif !important;
  background-color: #fff !important;
}

/* Css reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Montserrat", serif !important;
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none !important;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.footer-bottom {
  border-top: 1px solid #716f6f;
}

.footer-top ul {
  border-bottom: 1px solid #464646;
}

.form-input:focus {
  outline: none;
}

.gradient-parent {
  position: relative !important;
}

.gradient-img {
  position: absolute !important;
  left: -200px !important;
  opacity: 0.5;
}

.gradient-img-two {
  position: absolute !important;
  top: -240px !important;
  opacity: 0.4;
}

.contact-form {
  padding: 56px 48px 56px 48px !important;
}

.contact-form-column {
  padding: 44px 0px 0px 0px !important;
}

.custom-border {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.banner-image {
  background-image: url("../../public/images/banner-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-box {
  background-image: url("../../public/images/bg-user-box.svg");
  height: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 256px;
  width: 100%;
}

.feature-card {
  border-radius: 18px;
  border: 1px solid #f3f3f3;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 26.233px -26.233px 26.233px 0px rgba(165, 165, 165, 0.1) inset,
    -26.233px 26.233px 26.233px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(26.233333587646484px);
}

.info-list {
  list-style: disc !important;
  margin-left: 20px !important;
  padding-top: 20px !important;
}

.contact-list {
  padding-top: 20px !important;
}

.title-main {
  border-bottom: 1px solid #d9d9d9;
}

.footer {
  padding: 33px 60px 23px 60px !important;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.12);
}

.underline {
  text-decoration: underline !important;
}

.underline:hover {
  color: #8bc34a !important;
}

.hover:hover {
  color: #8bc34a !important;
}

.padding-footer {
  padding-bottom: 24px !important;
}

.mood-list {
  list-style: disc !important;
  margin-left: 20px !important;
}

.description-part {
  padding-left: 100px !important;
}

.cigma-container {
  padding: 48px 27px 64px 48px;
}

.cigma-card {
  background-image: url("../../public/images/works-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 426px;
  border-radius: 20px;
  padding: 25px 0px 32px 17px;
}

.mood-img {
  z-index: 1;
  position: absolute;
  left: -60px;
  top: -100px;
}

.mood-description {
  border: 1px solid #f3f3f3 !important;
  width: 90%;
  margin-left: auto;
  padding-left: 250px;
  padding-right: 20px;
}

.mble-left-description {
  border: 1px solid #f3f3f3 !important;
  width: 90%;
  margin-left: auto;
  padding-left: 90px;
  padding-right: 85px;
}

.mble-right-description {
  border: 1px solid #f3f3f3 !important;
  width: 90%;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 180px;
}

.mobileleft-img {
  z-index: 2;
  position: absolute;
  left: -60px;
  top: -150px;
}

.mobileright-img {
  z-index: 2;
  position: absolute;
  right: -60px;
  top: -100px;
}

.ellipsright-img {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -40px;
  max-width: 553px;
  width: 100%;
}

.ellipsleft-img {
  position: absolute;
  z-index: 0;
  max-width: 553px;
  width: 100%;
  left: 0px;
  top: -40px;
}

.banner-container {
  background-image: url("../../public/images/banner-bg-grouped.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 50vh;
}

.banner-btob {
  background-image: url("../../public/images/banner-bg-btob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 50vh;
}

/* faq css */

.chevron-icon {
  font-size: 18px !important;
  transition: transform 0.3s ease;
}

.chevron-icon.rotate {
  transform: rotate(180deg);
}

.accordion-title {
  border: 1px solid #d3d3d3;
}

.accordion-content {
  /* border: 1px solid #D3D3D3; */
  transition: all 0.3s ease;
}

.border-full {
  border: 1px solid #d3d3d3;
}

.border-bottom {
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

/* slider csss */
.auto_slider_container {
  width: 100%;
  display: flex;
  margin: auto;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
}

.auto_slider {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.sort-dropdown {
  background-color: transparent !important;
  border-radius: 16px;
  color: black;
  border: 1px solid #c6c6c6;
}
.sort-dropdown:hover,
.sort-dropdown:active,
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: black !important;
  border: 1px solid #c6c6c6 !important;
}


input:focus{
border: none;
outline:none;
}

.search-box{
  border-left: 1px solid #C6C6C6;
  padding-left: 10px;
}