@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif !important;
  background-color: #fff !important;
}

/* Css reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Montserrat", serif !important;
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none !important;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.footer-bottom {
  border-top: 1px solid #716f6f;
}

.footer-top ul {
  border-bottom: 1px solid #464646;
}

.form-input:focus {
  outline: none;
}

.gradient-parent {
  position: relative !important;
}

.gradient-img {
  position: absolute !important;
  left: -200px !important;
  opacity: 0.5;
}

.gradient-img-two {
  position: absolute !important;
  top: -240px !important;
  opacity: 0.4;
}

.contact-form {
  padding: 56px 48px 56px 48px !important;
}

.contact-form-column {
  padding: 44px 0px 0px 0px !important;
}

.custom-border {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.banner-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-box {
  /* background-image: url("../../public/images/bg-user-box.svg"); */
  height: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 256px;
  width: 100%;
}

.feature-card {
  border-radius: 18px;
  border: 1px solid #f3f3f3;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 26.233px -26.233px 26.233px 0px rgba(165, 165, 165, 0.1) inset,
    -26.233px 26.233px 26.233px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(26.233333587646484px);
}

.info-list {
  list-style: disc !important;
  margin-left: 20px !important;
  padding-top: 20px !important;
}

.info-listed {
  list-style: disc !important;
  margin-left: 20px !important;
}

.contact-list {
  padding-top: 20px !important;
}

.title-main {
  border-bottom: 1px solid #d9d9d9;
}

.footer {
  padding: 33px 60px 23px 60px !important;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.12);
}

.underline {
  text-decoration: underline !important;
}

.underline:hover {
  color: #8bc34a !important;
}

.hover:hover {
  color: #8bc34a !important;
}

.padding-footer {
  padding-bottom: 24px !important;
}

.mood-list {
  list-style: disc !important;
  margin-left: 20px !important;
}

.description-part {
  padding-left: 100px !important;
}

.cigma-container {
  padding: 48px 27px 64px 48px;
}

.cigma-card {
  /* background-image: url("../../public/images/works-img.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 426px;
  border-radius: 20px;
  padding: 25px 0px 32px 17px;
}

.mood-img {
  z-index: 1;
  position: absolute;
  left: -60px;
  top: -100px;
}

.mood-description {
  border: 1px solid #f3f3f3 !important;
  width: 90%;
  margin-left: auto;
  padding-left: 250px;
  padding-right: 20px;
}

.mble-left-description {
  border: 1px solid #f3f3f3 !important;
  width: 90%;
  margin-left: auto;
  padding-left: 90px;
  padding-right: 85px;
}

.mble-right-description {
  border: 1px solid #f3f3f3 !important;
  width: 90%;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 180px;
}

.mobileleft-img {
  z-index: 2;
  position: absolute;
  left: -60px;
  top: -130px;
}

.mobileright-img {
  z-index: 2;
  position: absolute;
  right: -60px;
  top: -130px;
}

.ellipsright-img {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -40px;
  max-width: 553px;
  width: 100%;
}

.ellipsleft-img {
  position: absolute;
  z-index: 0;
  max-width: 553px;
  width: 100%;
  left: 0px;
  top: -40px;
}

.banner-container {
  /* background-image: url("../../public/images/banner-bg-grouped.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 50vh;
}

.banner-btob {
  /* background-image: url("../../public/images/banner-bg-btob.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 50vh;
}

/* faq css */

.chevron-icon {
  font-size: 18px !important;
  transition: transform 0.3s ease;
}

.chevron-icon.rotate {
  transform: rotate(180deg);
}

.accordion-title {
  border: 1px solid #d3d3d3;
}

.accordion-content {
  transition: all 0.3s ease;
}

.border-full {
  border: 1px solid #d3d3d3;
}

.border-bottom {
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

/* slider csss */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px; /* Adjust the space below the header */
}

.chevrons {
  display: flex;
  gap: 16px;
}

.chevron {
  background-color: transparent;
  /* color:  #8BC34A; */
  padding: 10px;
  cursor: pointer;
  border: none;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid  #8BC34A; */
}
/* .chevron:hover{
  background-color:#8BC34A;
  border: 1px solid transparent;
  color: white;
} */

.chevron-disable {
  border: 1px solid #d2d0d0;
  color: #d2d0d0;
  cursor: auto;
}
.chevron-active {
  border: 1px solid #a3c4a0;
  color: #a3c4a0;
}
.chevron-active:hover {
  background-color: #a3c4a0;
  border: 1px solid transparent;
  color: white;
}
.auto_slider_container {
  width: 100%;
  display: flex;
  margin: auto;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.auto_slider {
  display: flex;
  gap: 16px;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 282px;
}

.sort-dropdown {
  background-color: transparent !important;
  color: #a2a2a2;
  border: 1px solid #c6c6c6;
}
.sort-dropdown:focus-visible {
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
.cigma-title {
  font-size: 40px;
}
.search-box {
  border-left: 1px solid #c6c6c6;
  padding-left: 10px;
}
.btoc-card {
  padding-bottom: 80px !important;
}
.btob-card {
  padding-top: 60px !important;
}
.mood-description {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.card-text {
  line-height: 35px !important;
}

.feature-row {
  padding-left: 60px;
}
.section-title {
  font-size: 32px;
}
.circle {
  margin-right: 23px;
}

@media (max-width: 1400px) {
  .mood-img {
    top: -100px;
  }
  .card-text {
    line-height: 29px !important;
  }
  .mood-description {
    padding-top: 26px !important;
    padding-bottom: 26px !important;
  }
  .feature-row {
    padding-left: 40px;
  }
  .section-title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .slide {
    min-width: 100%;
  }
  .text-seprator {
    display: none;
  }
  .footer {
    padding: 33px 20px 23px !important;
  }
  .footer-logo {
    max-width: 220px !important;
  }
  .contact-form {
    padding: 20px 20px !important;
  }
  .cardfeature {
    margin-bottom: 20px;
  }
  .mood-description {
    padding-left: 10px !important;
  }

  .description-part {
    padding-left: 10px !important;
  }
  .mood-img {
    position: static !important;
  }
  .laptop-img {
    display: none;
  }
  .cigma-container {
    padding: 0px;
  }
  .fetaure-div {
    padding: 20px;
  }
  .feature-arrow {
    display: none;
  }
  .circle {
    margin-right: 12px;
  }
  .ellipsleft-img,
  .ellipsright-img {
    display: none;
  }
  .mobileleft-img,
  .mobileright-img {
    position:static !important;
    /* display: none; */
  }
  .mble-right-description {
    width: 100%;
    margin-right: 0;
   padding: 20px  !important;
   order: 2;
  }
  .mobileright-img{
    order: 1;
  }
  .mble-left-description {
    width: 100%;
    margin-left: 0;
    padding: 20px  !important;
  }
  .btob-card,
  .btoc-card{
    padding: 20px 10px !important;
  }
  .corporate-laptop-right,
  .corporate-laptop-left{
    position: static !important;
  }
  .mood-description{
    width: 100%;
    margin-left: 0;
  }
  .feature-card{
    padding: 20px!important;
  }
  .connect-card{
    padding: 20px  !important;
  }
  .section-title{
    font-size: 26px;
  }
  .corporatecard{
    padding:0  !important;
  }
  .cigma-card{
    min-height: 270px  !important;
  }
}
